
<div class="container" id="clients-available">
	<ul class="collection with-header">
		<li class="collection-header"><h4>Stylists Available</h4></li>
		<% @stylists.each do |stylist|%>
		<li class="collection-item"><a href="/owner/stylist/<%= stylist.id%>"><p><%= stylist.sname%></p></a>
		<% end %>
	</li>
</ul>
<div class="container"  id="add_stylists">
	<h2 class="center-align">Add Stylist</h2>
	<form class="form-group" method="post" action="/owner/stylist/new">
		<label>Name:</label>
		<input class="form-control" type="text" name="name" required>
		<div class="submit-btn">
		<button class="btn white black-text" type="submit">Save Stylist</button>
		</div>
	</form>
</div>
</div>
<div class="container">
<ul class="collection with-header">
	<li class="collection-header"><h4>Clients Available</h4></li>
	<% @clients.each do |client|%>
	<li class="collection-item">	<a href="/owner/client/<%= client.id%>"><p><%= client.cname%></p></a>
	<% end %>
</li>
</ul>
<div class="container" id="add_clients">
<h2 class="center-align">Add Client</h2>
<form class="form-group" method="post" action="/owner/client/new">
	<label>Name:</label>
	<input class="form-control" type="text" name="name" required>
	<label>Phone:</label>
	<input class="form-control" type="text" name="phone" required>
	<div class="submit-btn">
		<button class="btn white black-text" type="submit">Save Client</button>
	</div>
</form>
</div>
</div>